/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/rails_app/db/*.sqlite3
/spec/rails_app/db/*.sqlite3-*
/spec/rails_app/log/*.log
/spec/rails_app/storage/
/spec/rails_app/tmp/
/spec/rails_app/log/
/coverage/

# Gem builds
*.gem

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Editor backups
*.swp
*.swo
*~
*.bak
