/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/coverage/

# Gem builds
*.gem

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Editor backups
*.swp
*.swo
*~
*.bak
/test/dummy/log/
